/* #region Base styles */
body{
    color:#111111;
    background-color: #fafafa;
}
/* Reset */
ul,
ol{
    /* прибрати точечки в списках */
    list-style-type: none;
}
a{
    text-decoration: none;
    color: currentColor;
}
button{
    cursor: pointer ;
}
address{
    font-style:normal;
}

/* #endregion */

/* #region CommonStyles */
.accent-text{

}
/* #endregion */

/* #region Header */
.header {
}
.nav {

}
.nav-menu {
}
.nav-menu-item {
}
.nav-menu-link {
    /* color: lightgreen */
}
.nav-menu-link:hover,.nav-menu-link:focus  {
    color:teal
}

}

/* #endregion */

/* #region Socials */
.socials {
}
.socials-items {
}
.social-link {
}
.social-icons {
}
/* #endregion */

/* #region Logo */
.logo {
}
.logo-icon {
}
/* #endregion */

/* #region Hero */


.hero {}

.hero-title {}

.hero-link {}

.hero-link-icon {}

/* #endregion */

/* #region Benefits */ 
.benefits {
    background-color: #1e1823;
}

.benefits-list {}

.benefits-item {}

.benefits-caption {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.22222;
    color: #fff;
}

.benefits-desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.7);
    c
}
/* #endregion */

/* #region Buttons */


.btn{}
.btn-accent{}
.btn-primary {}
.btn-secondary {}
/* #endregion */

/* #region Ingredients */

.ingredients {}

.ingredients-title {}

.ingredients-list {}

.ingredients-item {}

.ingredients-ill {}

.ingredients-subtitle {}
/* #endregion */

/* #region Made */

.made {}

.made-title {}

.made-img {}

.made-caption {}

.made-recipe {}

.made-recipe-item {}
/* #endregion */

/* #region Products */


/* #endregion */

/* #region Footer */ 
.footer {}

.footer-slogan {}

.footer-caption {}

.footer-address {}

.footer-contacts-item {}

.footer-contacts {}

.footer-contacts-link {}

.menu {}

.menu-item {}

.menu-link {}
/* #endregion */