/* #region Products */
    .product-btn{
        position: relative;
        display:flex;
        justify-content: center;
        align-items: center;

    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 100px;
    padding-block: 8px;
    padding-inline: 20px;
    width: 94px;
    height: 33px;
}
.product-btn-text{
    transform: scale(1);
    opacity: 1 ;
    transition: 300ms ease-out;
    


}
.product-btn:hover .product-btn-text {
    opacity: 0;
    transform: scale(0.2);
    transition-delay: 0ms ;

    

}
.product-btn-cost{
    opacity: 0;
    transform: scale(0.2);
    position: absolute;
    transition: 300ms ease-in ;
    

}
.product-btn:hover .product-btn-cost{
    opacity: 1;
    transform: scale(1);
    transition-delay: 150ms ;

}